In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data.csv')
df.head()

,id,root,category,content_level,image,origin,characters,companies,artist,classifications,materials,release_year,release_month,release_day,notaxprice,size,link
0,0,goods,on walls,nsfw,kino.jpeg,original,NaN,melonbooks,kino,tapestry,double suede,2023.0,5.0,NaN,2691.0,b2,https://www.melonbooks.co.jp/detail/detail.php...
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Get the first row of the dataframe
first_row = df.iloc[0]

# Strip white space and make into lowercase for each element
stripped_lower = [element.strip().lower() if isinstance(element, str) else element for element in first_row]

# Print out the results
print(stripped_lower)
print(stripped_lower[1])

[0, 'goods', 'on walls', 'nsfw', 'kino.jpeg', 'original', nan, 'melonbooks', 'kino', 'tapestry', 'double suede', 2023.0, 5.0, nan, 2691.0, 'b2', 'https://www.melonbooks.co.jp/detail/detail.php?product_id=1886372']
goods